# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore markdownlint files
.markdownlint*

# Ignore plot images and generated media
static/plots/

# Ignore practice files
*.ipynb
